@font-face {
  font-family: "Riviera Nights";
  src: url(Fonts/RivieraNights-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  position: relative;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-padding-top: 0;
}

body {
  overflow: hidden;
  background-color: black;
  font-size: 1.6rem;
  letter-spacing: 0.03125em;
  line-height: 1.5;
  font-weight: 300;
  overscroll-behavior: none;
  overflow-x: hidden;
  font-family: "Riviera Nights", "Gill Alt One MT", Helvetica, Arial,
    -apple-system, sans-serif;
}

.container-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.container-wrapper.no-scroll {
  pointer-events: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  height: calc(100vh + 3px);
}

.component-grid-container {
  display: grid;
  grid-template-columns: 16px repeat(3, 1fr 16px) 1fr 16px;
  grid-template-rows: auto auto auto auto;
}

@media only screen and (min-width: 768px) {
  .component-grid-container {
    grid-template-columns: 16px repeat(12, 1fr 16px);
    grid-template-rows: auto auto auto;
  }
}

@media only screen and (min-width: 1440px) {
  .component-grid-container {
    grid-template-columns: 16px 2fr 16px repeat(12, 96px 16px) 2fr 16px;
    grid-template-rows: auto auto auto;
  }
}

.nav-container {
  opacity: 1;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.25) 100%
  );
  backdrop-filter: blur(0px);
  will-change: transform, background;
  position: fixed;
  height: 95px;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-rows: 95px auto auto;
  transition: transform 1s ease, background 1s ease-in;
  right: 10.1px;
}

.nav-container.blur {
  transform: translate(0px, -60px);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 15%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.nav-container.retract {
  transform: translate(0px, -120px);
}

@media only screen and (min-width: 768px) {
  .nav-container {
    height: 120px;
    grid-template-rows: 120px auto auto;
  }
}

@media only screen and (max-width: 1439px) {
  .nav-container {
    grid-template-columns: 16px repeat(4, 1fr 16px) 1fr 16px;
  }
}

.nav-container span {
  overflow: hidden;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#video {
  position: relative;
  width: 100%;
  height: auto;
  will-change: transform;
  transition: opacity 500ms ease;
}

.fade-out {
  opacity: 0;
}

.slide {
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 270px;
  will-change: transform;
  transition: transform 1s ease;
  backdrop-filter: blur(10px);
  transform: translateX(-270px);
  z-index: 100;
}

li {
  list-style: none;
}

.sidebar-list li a {
  color: #ffff;
  padding: 5px 0;
  display: block;
  text-align: right;
  text-transform: capitalize;
  text-decoration: none;
  will-change: transform;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}

ul li a:hover {
  color: #8e8e8e;
  transform: scale(1.5);
}

.slide.open {
  transform: translateX(0);
}

.menu-container {
  top: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  left: 90.5px;
  position: fixed;
  height: 97px;
  transition: transform 0.5s ease;
  will-change: transform;
}

.menu-container.retract {
  transform: translate(0px, -30px);
}

.menu-container.retract2 {
  transform: translate(0px, -90px);
}

@media only screen and (min-width: 768px) {
  .menu-container {
    height: 120px;
  }
}

@media only screen and (max-width: 1439px) {
  .menu-container {
    left: 16.1px;
  }
}

.menu-button {
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: transparent;
}

.menu-animation {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.menu-text {
  position: relative;
  top: 1.5px;
  color: white;
  letter-spacing: 0.05em;
}

.line {
  width: 23px;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
  will-change: transform;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.menu-animation.open .middle_line {
  opacity: 0;
}

.menu-animation.open .top_line {
  position: relative;
  transform: rotate(44deg);
}

.menu-animation.open .bottom_line {
  position: relative;
  transform: rotate(-43deg);
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  grid-column: 6 / span 1;
  height: 97px;
  transition: transform 1s ease;
  will-change: transform;
}

.logo-container.retract {
  transform: translate(0px, 30px) scale(0.8);
}

@media only screen and (min-width: 768px) {
  .logo-container {
    height: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-container {
    grid-column: 5 / span 3;
  }
}

@media only screen and (min-width: 1440px) {
  .logo-container {
    grid-column: 13 / span 5;
  }
}

.a-logo {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 90px;
  height: 65px;
}

.nav-logo {
  position: relative;
  height: 45px;
  width: 45px;
  overflow: hidden;
  background: url(Images/HomePageLogo.svg);
  background-size: 100%;
  display: inline-block;
}

.contact-us-container {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 120px;
  grid-column: 8 / span 4;
  position: relative;
  transition: transform 1s ease;
  will-change: transform;
}

.contact-us-container.retract {
  transform: translate(0px, 30px);
}

@media only screen and (max-width: 1439px) {
  .contact-us-container {
    right: 16.1px;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-us-container {
    height: 120px;
    grid-column: 23 / span 4;
  }
}

.contact-us-button {
  display: flex;
  flex-direction: row;
  gap: 14px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.contact-us-text {
  top: 1.5px;
  cursor: pointer;
  color: white;
  letter-spacing: 0.05em;
  position: relative;
}

.contact-us-icon {
  top: 1px;
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background: url(Images/ContactUsIcon.svg) no-repeat center;
  background-size: contain;
  background-color: transparent;
}

.nav-keyline {
  display: flex;
  position: relative;
  opacity: 0.5;
  grid-row: 2 / span 1;
  grid-column: 2 / span 9;
  align-self: flex-start;
  vertical-align: baseline;
  height: 1px;
  background-color: #ddd;
  transition: opacity 0.5s ease;
  will-change: transform;
}

.nav-keyline.retract {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .nav-keyline {
    grid-column: 2 / span 9;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-keyline {
    grid-column: 4 / span 23;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  text-align: center;
  justify-content: center;
  height: 100vh;
  left: 0;
  right: 0;
  overflow: hidden;
}

.home-text {
  color: #ffff;
  margin-right: -1.2rem;
  margin-left: 0.8rem;
  letter-spacing: 0.22em;
  font: inherit;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  vertical-align: baseline;
  line-height: 0.8;
  opacity: 0;
}

.htext {
  font-size: 7rem;
  font-weight: 300;
}

.ptext {
  font-size: 2.3rem;
  line-height: 1.6086956522;
}

.explore-button {
  opacity: 0;
  align-self: center;
  display: inline-flex;
  top: 15px;
  position: relative;
  min-height: 46px;
  padding: 0 16px;
  width: 306px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.htext.active-text {
  will-change: transform;
  animation: fadeInUpAnimation 0.4s ease;
  animation-fill-mode: both;
  animation-delay: 0ms;
}

.ptext.active-text {
  will-change: transform;
  animation: fadeInUpAnimation 0.4s ease;
  animation-fill-mode: both;
  animation-delay: 200ms;
}

.explore-button.active-text {
  will-change: transform;
  animation: fadeInUpAnimation 0.4s ease;
  animation-fill-mode: both;
  animation-delay: 400ms;
}

@keyframes fadeInDownAnimation {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
}

.htext.inactive-text {
  will-change: transform;
  animation: fadeInDownAnimation 0.4s ease-out;
  animation-fill-mode: both;
  animation-delay: 400ms;
}

.ptext.inactive-text {
  will-change: transform;
  animation: fadeInDownAnimation 0.4s ease-out;
  animation-fill-mode: both;
  animation-delay: 200ms;
}

.explore-button.inactive-text {
  will-change: transform;
  animation: fadeInDownAnimation 0.4s ease-out;
  animation-fill-mode: both;
  animation-delay: 0ms;
}

.atext {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.1666666667em;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ffff;
  align-content: center;
  line-height: 2;
  text-transform: uppercase;
  padding-right: 0;
  position: relative;
  will-change: right, padding;
  text-decoration: none;
  color: #151515;
}

.round-option-list {
  top: 83%;
  display: grid;
  position: absolute;
  align-self: center;
  row-gap: 20px;
  transform: rotate(-90deg);
}

.round-option-list li {
  display: inline;
}

.round-option-list li a {
  text-decoration: none;
  align-content: center;
}

.round-option-list li a svg circle {
  opacity: 0.5;
}

.round-option-list li a svg circle.selected {
  will-change: transition;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.animated-button-scale {
  will-change: transform;
  transform-origin: 0px 0px;
  transform: matrix(0.4, 0, 0, 0.4, 4.8, 4.8);
  transition: transform 500ms ease;
}

.animated-button-scale.default-transform {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.animated-path {
  will-change: transform;
  transition: stroke-dashoffset 15s ease-in;
}

.stopped {
  transition: none;
}

.second-homepage {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  height: calc(100vh + 5px);
  overflow: hidden;
  width: 100%;
  background: linear-gradient(135deg, #303030 49.9%, white 50.1%);
}

.history {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  font-size: small;
  max-width: fit-content;
  top: -70px;
  padding-left: 15.1px;
  padding-right: 5px;
  color: #ffff;
  position: relative;
}

.image-hero {
  opacity: 0;
  position: relative;
  width: fit-content;
  height: auto;
  min-height: 350px;
  top: 20px;
  max-height: calc(100vh / 2);
}

.lifestyle {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  font-size: small;
  max-width: fit-content;
  top: 120px;
  padding-right: 15.1px;
  padding-left: 5px;
  color: #151515;
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .history {
    font-size: medium;
    padding-left: 120px;
  }
}

@media only screen and (min-width: 1440px) {
  .lifestyle {
    font-size: medium;
    padding-right: 120px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s forwards;
}

.slide-down {
  animation: slideDown 1s forwards;
}

@keyframes popUp {
  from {
    transform: translateY(-400px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pop-up {
  animation: popUp 1s forwards;
  animation-delay: 0.5s;
}

footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  align-content: center;
  row-gap: 10px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  gap: 75px;
}

.social-media-icons a {
  top: 8px;
  position: relative;
}

.fab {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.footer-keyline {
  display: flex;
  position: relative;
  width: 100%;
  opacity: 0.5;
  height: 1px;
  background-color: #ddd;
  transition: opacity 0.5s ease;
  will-change: transform;
}

.footer-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
  height: 100%;
}

.footer-lists ul {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: white;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 97px;
}

.contact-us-form-validator-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: #151515;
  top: 140px;
  right: -32px;

  height: 225px;
  width: 200px;

  border: 2px solid white; /* Adds a white border with 2px thickness */
  border-radius: 8px; /* Optional: adds rounded corners */
}

.contact-us-form-validator-container * {
  margin-left: 10px;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}

.contact-us-form-validator-container label {
  color: #fff;
}

.status-message.error {
  color: red;
}

.status-message.success {
  color: greenyellow;
}