html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
  position: relative;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-padding-top: 0;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.03125em;
  line-height: 1.5;
  font-weight: 300;
  overscroll-behavior: none;
  overflow-x: hidden;
}

button,
body {
  background-color: grey;
  font-family: "Riviera Nights", "Gill Alt One MT", Helvetica, Arial,
    -apple-system, sans-serif;
}

.nav-grid-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.25) 100%
  );
  position: fixed;
  display: grid;
  height: 120px;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-rows: 120px auto auto;
  grid-template-columns: 16px 2fr 16px repeat(12, 96px 16px) 2fr 16px;
}

.nav-grid-container span {
  overflow: hidden;
}

.div-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  justify-content: flex-start;
  grid-column: 4 / span 2;
  position: relative;
}

.line {
  width: 28px;
  height: 2.4px;
  background-color: #fff;
}

.span-nav-logo-container {
  display: flex;
  position: relative;
  height: 120px;
  align-items: center;
  justify-content: center;
  grid-column: 13 / span 5;
}

.span-nav-logo {
  position: relative;
  height: 45px;
  width: 45px;
  transform: scale(1);
  overflow: hidden;
  background: url(/Images/HomePageLogo.svg);
  background-size: 100%;
  display: inline-block;
}

.div-nav-find-a-dealer {
  display: flex;
  align-items: center;
  will-change: transform;
  flex-direction: row-reverse;
  position: relative;
  grid-column: 23 / span 4;
}

.span-nav-keyline {
  display: flex;
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 4 / span 23;
  align-self: flex-start;
  vertical-align: baseline;
  opacity: 0.5;
  height: 1px;
  background-color: #ddd;
}