@font-face {
  font-family: "Riviera Nights";
  src: url(/Fonts/RivieraNights-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  position: relative;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-padding-top: 0;
}

body {
  background-color: black;
  font-size: 1.6rem;
  letter-spacing: 0.03125em;
  line-height: 1.5;
  font-weight: 300;
  overscroll-behavior: none;
  overflow-x: hidden;
  font-family: "Riviera Nights", "Gill Alt One MT", Helvetica, Arial,
    -apple-system, sans-serif;
}

body.no-scroll {
  overflow-y: hidden;
}

.nav-grid-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.25) 100%
  );
  position: fixed;
  display: grid;
  height: 120px;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-rows: 120px auto auto;
  grid-template-columns: 16px 2fr 16px repeat(12, 96px 16px) 2fr 16px;
}

#video {
  position: absolute;
  transition: opacity 1s ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.nav-grid-container span {
  overflow: hidden;
}

.slide {
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 270px;
  transition: transform 0.5s ease;
  backdrop-filter: blur(10px);
  transform: translateX(-270px);
  z-index: 100;
}

li {
  list-style: none;
}

.sidebar-list li a {
  color: #ffff;
  padding: 5px 0;
  display: block;
  text-align: right;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}

ul li a:hover {
  color: #8e8e8e;
}

.slide.open {
  transform: translateX(0);
}

.menu-container {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
  gap: 8px; /* Space between the icon and the text */
  justify-content: flex-start;
  left: 92.5px;
  position: fixed;
  cursor: pointer;
  z-index: 150;
  height: 120px;
}

.menu-button {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-start;
  position: relative;
  top: -1px;
}

.menu-text {
  color: white;
  letter-spacing: 0.05em;
}

.line {
  width: 23px;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.menu-button.open .middle_line {
  opacity: 0;
}

.menu-button.open .top_line {
  position: relative;
  left: 1px;
  transform: rotate(45deg);
}

.menu-button.open .bottom_line {
  position: relative;
  left: 1px;
  transform: rotate(-45deg);
}

.logo-container {
  display: flex;
  position: relative;
  height: 120px;
  align-items: center;
  justify-content: center;
  grid-column: 13 / span 5;
}

.span-nav-logo {
  position: relative;
  height: 45px;
  width: 45px;
  transform: scale(1);
  overflow: hidden;
  background: url(/Images/HomePageLogo.svg);
  background-size: 100%;
  display: inline-block;
}

.div-nav-find-a-dealer {
  right: 92.5px;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  grid-column: 23 / span 4;
}

.span-nav-keyline {
  display: flex;
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 4 / span 23;
  align-self: flex-start;
  vertical-align: baseline;
  opacity: 0.5;
  height: 1px;
  background-color: #ddd;
}

.homepage {
  margin: 0 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.home-text {
  color: #ffff;
  margin-right: -1.2rem;
  --heading-spacer: 1.4rem;
  margin-left: 0.8rem;
  letter-spacing: 0.22em;
  font: inherit;
  margin-bottom: var(--heading-spacer);
  text-transform: uppercase;
  vertical-align: baseline;
  line-height: 0.8;
  opacity: 0;
}

.htext {
  font-size: 7rem;
  font-weight: 300;
}

.ptext {
  font-size: 2.3rem;
  line-height: 1.6086956522;
}

.explore-button {
  opacity: 0;
  align-self: center;
  display: inline-flex;
  top: 15px;
  position: relative;
  min-height: 46px;
  padding: 0 16px;
  width: 306px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.active-text {
  animation: fadeInUpAnimation 0.4s ease-out;
  animation-fill-mode: both;
}

.htext.active-text {
  animation-delay: 0ms;
}

.ptext.active-text {
  animation-delay: 200ms;
}

.explore-button.active-text {
  animation-delay: 400ms;
}

.atext {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.1666666667em;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ffff;
  align-content: center;
  line-height: 2;
  text-transform: uppercase;
  padding-right: 0;
  position: relative;
  will-change: right, padding;
  text-decoration: none;
  color: #151515;
}

.second-homepage {
  position: relative;
  display: flex;
  height: 706px;
  width: 100%;
  top: 788px;
}

.round-option-list {
  top: 84%;
  display: grid;
  position: inherit;
  align-self: center;
  row-gap: 20px;
  rotate: -90deg;
}

.round-option-list li {
  display: inline;
}

.round-option-list li a {
  text-decoration: none;
  align-content: center;
}

.round-option-list li a svg circle {
  opacity: 0.5;
}

.round-option-list li a svg circle.selected {
  opacity: 1;
}

.animated-path {
  transition: stroke-dashoffset 15s ease-in;
}

.stopped {
  transition: none;
}
